@charset "UTF-8";

:root {
    --main-bg-color: #282c37;
    --main-fg-color: #dddddd;
    --main-link-color: #999;
    --main-visited-color: #888;
    --border-color: #505050;
    --font-size-header: 18px;
    --font-color-header: #ccc;
    --font-size: 40px;
    --font-size2: 24px;
    --font-size3: 38px;
    --font-size4: 22px; 
    --font-size5: 20px; 
    --text-entry-foreground: #ccc;
    --text-entry-background: #111;
    --time-color: #aaa;
    --button-text: #FFFFFF;
    --button-background: #999;
    --button-selected: #666;
}

body, html {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);

    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    min-width: 600px;
    margin: 5% auto;
}

a, u {
    color: var(--main-fg-color);
}

a:visited{
    color: var(--main-visited-color);
    font-weight: bold;
}

a:link {
    color: var(--main-link-color);
    font-weight: bold;
}

.follow {
    background-image: url("follow-background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: var(--main-bg-color);
}

.followAvatar {
    margin: 0% 0;
}

.followAvatar img {
    border-radius: 10%;
    width: 20%;
    min-width: 200px;
}

.followText {
    font-size: var(--font-size);
}

.imText {
    font-size: var(--font-size4);
    color: var(--main-link-color);
}

.pgp {
    font-size: var(--font-size5);
    color: var(--main-link-color);
    font-family: 'monospace';
}

.button {
    border-radius: 4px;
    background-color: var(--button-background);
    border: none;
    color: var(--button-text);
    text-align: center;
    padding: 10px;
    font-size: var(--font-size);
    width: 20%;
    max-width: 200px;
    min-width: 100px;
    cursor: pointer;
    margin: 30px;
}

.button:hover {
    background-color: #555;
    color: white;
}

input[type=text] {
    width: 90%;
    clear: both;
    font-size: var(--font-size);
    text-align: center;
    color: var(--text-entry-foreground);
    background-color: var(--text-entry-background);
}

.cwButton {
    border-radius: 4px;
    background-color: #999;
    border: none;
    color: var(--button-text);
    text-align: center;
    font-size: var(--font-size);
    padding: 2px;
    cursor: pointer;
    margin: 5px;
}

.cwText {
    display: none;
}

.options {
    font-size: var(--font-size);
}

.options img {
    width: 20%;
}

@media screen and (min-width: 400px) {
    .hashtagswarm {
	font-size: 30px;
	padding: 30px;
	line-height: 60px;
    }
    .hashtagswarm2 {
	font-size: 40px;
	padding: 30px;
	line-height: 60px;
    }
    .followText {
        font-size: 24px;
    }
    input[type=text] {
        width: 90%;
        clear: both;
        font-size: 24px;
        text-align: center;
        color: var(--text-entry-foreground);
        background-color: var(--text-entry-background);
    }
    .button {
        border-radius: 4px;
        background-color: var(--button-background);
        border: none;
        color: var(--button-text);
        text-align: center;
        padding: 10px;
        font-size: 24px;
        width: 20%;
        max-width: 200px;
        min-width: 100px;
        cursor: pointer;
        margin: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .hashtagswarm {
	font-size: 40px;
	padding: 40px;
	line-height: 70px;
    }
    .hashtagswarm2 {
	font-size: 50px;
	padding: 40px;
	line-height: 70px;
    }
    .followText {
        font-size: 40px;
    }
    input[type=text] {
        width: 90%;
        clear: both;
        font-size: 40px;
        text-align: center;
        color: var(--text-entry-foreground);
        background-color: var(--text-entry-background);
    }
    .button {
        border-radius: 4px;
        background-color: var(--button-background);
        border: none;
        color: var(--button-text);
        text-align: center;
        padding: 10px;
        font-size: 40px;
        width: 20%;
        max-width: 200px;
        min-width: 100px;
        cursor: pointer;
        margin: 30px;
    }
}
